{% extends 'app/base.html' %}

{% block title %}About - Healthcare Clinic{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron" style="background:rgba(255,255,255,0.9);">
        <h1 class="display-4 text-center">Welcome to our Healthcare System!</h1>
        <div class="dropdown-divider" style="margin-left:25%;margin-right:25%;border-color:black"></div>
        
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Meet Our Team</h2>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>Dr. Dela Cruz</h3>
                                <p class="lead">Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h3>Dr. Meljy</h3>
                                <p class="lead">Co-Founder & CTO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Our Mission</h2>
                <p class="lead text-center mt-3">
                    Your Health is Priority
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}